.btn {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    border: none;
    background-color: #00b2fb;
    text-transform: uppercase;
    color: white;
    padding: 10px 8px;
    border-radius: 20px;
    cursor: pointer;
    &.close {
        font-weight: bold;
        font-size: 1.5em;
        background-color: transparent;
        color: black;
        border: none;
        align-self: flex-end;
    }
    &.add-task {
        position: fixed;
        bottom: 1em;
        right: 1em;
        font-size: 3em;
        padding: 0;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.64);
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        align-items: baseline;
        span {
            height: 1.5em;
            display: flex;
            justify-content: center;
            align-items: baseline;
        }
        &:active {
            background-color: lighten(#00b2fb, 10)
        }

        @media screen and (min-width: 768px) {
            position: relative;
            bottom: 0;
            align-self: flex-end;
        }
    }
    &.filter {
        color: #CCC;
        font-size: 0.9em;
        padding: 0 0 5px 0;
        background-color: transparent;
        border: none;
        &.active {
            color: #FFF;
            font-weight: bold;
        }
    }
    &:active,
    &:focus {
        outline: 0;
    }
    &.delete-all {
        background-color: #c76363;
        width: 50%;
        max-width: 300px;
    }
}