li.item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    color: white;
    font-size: 1.5em;
    padding-bottom: 1em;
    width: 100%;
    overflow-x: hidden;
    &:last-child {
        padding-bottom: 0;
    }
    &.active .label {
        font-weight: bold;
    }
    .label {
        text-overflow: ellipsis;
        display: inline-block;
        overflow: hidden;
        cursor: pointer;
    }
    .action {
        background-color: transparent;
        border: 0;
        padding: 0;
        display: flex;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 1em;
        animation: fadeFromLeft .2s;
    }
}

@keyframes fadeFromLeft {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}