li.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    color: white;
    font-size: 1.5em;
    padding-bottom: 1em;
    width: 100%;
    overflow-x: hidden;
    &:last-child {
        padding-bottom: 0;
    }
    &.completed .label {
        text-decoration: line-through;
    }
    .label {
        text-overflow: ellipsis;
        display: inline-block;
        overflow: hidden;
        cursor: pointer;
    }
    .delete {
        background-color: transparent;
        border: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 1em;
        cursor: pointer;
    }
}