.filters {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    width: 100%;
    .filter {
        width: 33%;
    }
    @media screen and (min-width: 1024px) {
        max-width: 30vmax;
    }
}