.btn {
    display: flex;
    justify-content: center;
    border: none;
    background-color: #00b2fb;
    text-transform: uppercase;
    color: white;
    padding: 10px 8px;
    border-radius: 20px;
    cursor: pointer;
    &.close {
        font-weight: bold;
        font-size: 1.5em;
        background-color: transparent;
        color: black;
        border: none;
        align-self: flex-end;
    }
    &.add-task {
        border: 1px solid #0083b9;
        width: 50%;
        max-width: 300px;
    }
    &.filter {
        color: #CCC;
        font-size: 0.9em;
        padding: 0 0 5px 0;
        background-color: transparent;
        border: none;
        &.active {
            color: #FFF;
            font-weight: bold;
        }
    }
    &:active,
    &:focus {
        outline: 0;
    }

    &.delete-all {
        background-color: #c76363;
        width: 50%;
        max-width: 300px;
    }
}